@keyframes satelliteMoving {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.normal-button {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-family: Caprasimo;
  color: #fff;
  background-color: #151515;
}

.orbit-button {
  position: relative;
}

.orbit-button .orbit {
  position: absolute;
  left: -6px;
  top: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50%;
  border: 0.25px solid hsla(0, 0%, 100%, .66);
  z-index: -1;
}
.orbit-button .orbit .satellite {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: satelliteMoving 5s linear infinite;
}
.orbit-button .orbit .satellite:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: -2px;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
}
.orbit-button .orbit .satellite:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: -1px;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.orbit-button button {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  font-size: 12px;
  font-family: Caprasimo;
  color: #fff;
  background-color: #111;
  transition: background .3s ease;
}

.orbit-button button:disabled,
.normal-button:disabled {
  opacity: 0.5;
}

.card {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.card > .inner {
  padding: 36px 24px;
  box-sizing: border-box;
}

.card > .inner > .level {
  position: absolute;
  bottom: 12px;
  left: 0;
  font-family: 'Caprasimo';
  text-align: right;
  color: #fff;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.card > .inner > .edit {
  position: absolute;
  bottom: 12px;
  left: 0;
  text-align: left;
  color: #fff;
  padding: 0 12px;
  box-sizing: border-box;
}

.card > .inner > .level:before {
  content: "";
  width: 60%;
  height: 0.5px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card > .inner > .word {
  margin-bottom: 12px;
  font-family: 'Caprasimo';
  font-size: 30px;
  color: invert(var(--word-color, #fff));
  filter: invert(1) drop-shadow(0 0 2px #0008);
}

.extra {
  margin-bottom: 6px;
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-size: 13px;
  white-space: break-spaces;
  color: invert(var(--word-color, #fff));
  filter: invert(1) drop-shadow(0 0 2px #0008);
  text-align: left;
  min-height: 32px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
}

.extra button {
  display: flex;
  border: 0;
  font-size: 14px;
  padding: 8px 12px;
  background-color: hsla(0, 0%, 100%, .2);
  color: #000;
  font-family: 'Roboto Condensed';
}
.extra button > svg {
  margin-right: 4px;
  width: 16px;
  height: auto;
}
