.card {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.card > .inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card > .inner > .title {
  margin: 12px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  color: white;
  text-align: center;
}

.extra {
  display: flex;
  align-items: center;
  margin: 12px;
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-size: 16px;
  white-space: break-spaces;
  color: white;
  max-width: 80%;
  min-height: 48px;
}

.extra button {
  display: flex;
  align-items: center;
  border: 0;
  padding: 12px 18px;
  font-size: 18px;
  height: 48px;
  background: hsla(0, 0%, 0%, .1);
  color: #DAFFFB;
  font-family: 'Roboto Condensed';
}
.extra button > svg {
  margin-right: 4px;
  width: 18px;
  height: auto;
}

.fancy-button {
  height: 50px;
  border: none;
  outline: none;
  padding: 0 12px;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  z-index: 0;
  border-radius: 10px;
}

.fancy-button.rounded {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 16px;
  background: #111;
}

.fancy-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: fancy 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.fancy-button.rounded:before {
  border-radius: 50%;
}

.fancy-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.fancy-button.rounded:after {
  border-radius: 50%;
}

.fancy-button.active:before {
    opacity: 1;
}
@keyframes fancy {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}